// table {
//     width: 100%;
//   }
  
mat-form-field{
    width: 100%;
} 
// .fit-content{
//     background-image: linear-gradient( to left ,rgb(206, 226, 238) ,rgb(104, 188, 236), rgb(8, 107, 164));
//     width: 160px !important;
//     height: 45px !important;
// }


.content{
    width: 80%;
}
.fit-content{
    height: fit-content;
    width: fit-content;
}