
<section class=" w-100">
    <button mat-fab color="primary" (click)="openDialog()" class="fab-pos">
        <mat-icon>add</mat-icon>
    </button>
    <div class="container h-100">
      <div class="row my-5">
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3"></app-card-event>
      </div>
    </div>
</section>
